# macOS system files
.DS_Store
**/.DS_Store

# Ignore CMD files
*.cmd
src/*.cmd
src/**/*.cmd

# Ignore KOOR files
*.koor
src/*.koor
src/**/*.koor

# Ignore modules.order
modules.order
src/modules.order
src/**/modules.order

# Ignore Module.symvers
Module.symvers
src/Module.symvers
src/**/Module.symvers

# Ignore .ko files
*.ko






